:root {
  --accent-color: #71bfff;
  --background-color: #262626;
  --secondary-color: #333333;
  --text-color: #ffffff;
}

body {
  margin: 0;
  font-family: "poppins", sans-serif;
  background-color: var(--background-color);
}

/* Header Styles */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  z-index: 9999;
}

.header img {
  height: 48px;
  width: auto;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  transition: color 0.35s ease;
}

.nav a:hover {
  color: var(--accent-color);
}