:root {
  --accent-color: #71bfff;
  --background-color: #141414;
  --secondary-color: #333333;
  --text-color: #ffffff;
}

body {
  margin: 0;
  font-family: "poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Header Styles */

.header {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  padding: 1rem 0;  /* vertical padding only */
  z-index: 9999;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.header img {
  height: 48px;
  width: auto;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  transition: color 0.35s ease;
}

.nav a:hover {
  color: var(--accent-color);
}